<<<<<<< HEAD
footer {
    background-color:#00FF00;
    height:60px;
    width:100%;
    position:fixed;
    bottom: 0;
}

p {
    text-align:center;
    line-height:30px
=======
/*
 * === Footer style ===
 */

/* Footer style */
footer {
  align-items: center;
  background-color: #0f0;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  position: absolute;
  width: 100%;
>>>>>>> 582ae440d83f3959770d62eb40a3bc635c39bddb
}
