<<<<<<< HEAD
header {
    background-color:#FF0000;
    height:70px;
    width:100%;
=======
/*
 * === Header style ===
 */

/* Header style */
header {
  background-color: #f00;
  height: 70px;
  width: 100%;
>>>>>>> 582ae440d83f3959770d62eb40a3bc635c39bddb
}
