<<<<<<< HEAD
body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
=======
/*
 * === Global style ===
 */

/* Body style */
body {
  color: #484848;
  font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
>>>>>>> 582ae440d83f3959770d62eb40a3bc635c39bddb
}
