footer {
<<<<<<< HEAD
    background-color: white;
    height:60px;
    width:100%;
    border-top: 1px solid #CCCCCC;

    bottom: 0;
}

p {
    text-align:center;
    line-height:30px;
}
=======
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 60px;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

>>>>>>> 582ae440d83f3959770d62eb40a3bc635c39bddb
